<main>
  <div class="panel left">
    <div class="brand-logo">
      <img src="/assets/images/ibis-logo.png" alt="ibis brand" />
    </div>
    <div class="heading">
      <h1 class="title">Login</h1>
      <p class="subtitle">Login to access your panel.</p>
    </div>
  </div>
  <div class="panel right">
    <div class="login-box">
      <form method="post">
        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
        </div>
        <div class="input-group">
          <button type="submit">Login</button>
        </div>
      </form>
      <div class="help">
        Don't have an account?
        <a href="register">Register</a>
      </div>
    </div>
  </div>
</main>
